
.all-review-container {
    display: flex;
    background-color: rgb(94, 153, 243);
  }
.inside-container{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
.review-error-view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    padding-bottom: 64px;
  }
  
  .review-failure-heading-text {
    color: #171f46;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
  }
  
  @media screen and (min-width: 768px) {
    .review-failure-heading-text {
      font-size: 24px;
    }
  }
  
  .review-failure-description {
    text-align: center;
    color: #64748b;
    font-family: 'Roboto';
    font-size: 14px;
    width: 90%;
    max-width: 288px;
    line-height: 1.3;
  }
  
  @media screen and (min-width: 768px) {
    .review-failure-description {
      font-size: 18px;
      width: 60%;
      max-width: 466px;
    }
  }
  .review-list{
     background-color: aliceblue;
     box-shadow: 1px 1px 1px 1px;
     margin-right: 20px;
     margin-top: 30px;
     margin-left: 20px;
     margin-bottom: 30px;

  }
  